$ka-background-color: #f4f5f7;
$ka-border-color: #d5dae2;
// $ka-cell-hover-background-color: transparentize(#fff, 0.8);
$ka-color-base: #2d3b4c;
$ka-row-hover-background-color: transparentize(#565656, 0.9);
$ka-thead-background-color: #dfe3e9;
$ka-thead-color: #979fab;
